<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodam.connection.dao.ConnectionDAO">

	<!-- 유저 연결 -->
	<insert id="connectUser" parameterType="com.dodam.connection.dto.ConnectionDTO">
		insert into connection values (#{user1_id}, #{user2_id}, #{connection_id})
	</insert>
	
	<!-- 유저 존재 여부 -->
	<select id="isUserExist" parameterType="String">
		select userid from user where userid=#{userid}
	</select> 
	
	<!-- 유저 연결 여부 -->
	<select id="hasConnection">
		select connection_id from user group by connection_id having count(userid) > 1
	</select>
	
	<!-- 연결된 유저 삭제 -->
	<delete id="deleteConnection" parameterType="com.dodam.connection.dto.ConnectionDTO">
		delete from connection where connection_id=#{connection_id}
	</delete>

</mapper>